// import google fonts

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0;
  text-align: center;
}

.content {
  position: relative;
  background: #009688;
  padding: 30px;
}

.version {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
}